<!-- blog.html -->

{% extends 'main/baseOfBlog.html' %}

{% block content %}
  {% for blog in blog_entries %}
    <div class="flex flex-col overflow-hidden rounded-lg shadow-lg mb-8">
        <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="{{ blog.image.url }}" alt="{{ blog.title }}">
        </div>
        <div class="flex flex-1 flex-col justify-between bg-white p-6">
            <div class="flex-1">
                <p class="text-sm font-medium text-indigo-600">
                    <a href="#" class="hover:underline">{{ blog.category }}</a>
                </p>
                <a href="{% url 'blog_detail' blog_id=blog.id %}" class="mt-2 block">
                    <p class="text-xl font-semibold text-gray-900">{{ blog.title }}</p>
                    <p class="mt-3 text-base text-gray-500">{{ blog.small_description }}</p>
                </a>
            </div>
            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <a href="{% url 'blog_detail' blog_id=blog.id %}">
                        <img class="h-10 w-10 rounded-full" src="{{ blog.author.photo.url }}" alt="{{ blog.author.name }}">
                    </a>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-gray-900">
                        <a href="#" class="hover:underline">{{ blog.author.name }}</a>
                    </p>
                    <div class="flex space-x-1 text-sm text-gray-500">
                        <time datetime="{{ blog.date }}">{{ blog.date }}</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}
